@model YineBirCore.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" >
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required/>
                @*<span asp-validation-for="Password" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Rememberme" /> @Html.DisplayNameFor(model => model.Rememberme)
                    </label>
                </div>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary" > Girişyap</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

