
@{
    ViewData["Title"] = "MySpecialPage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>MySpecialPage</h2>
<div class="col-md-4">
    
    <p> Yetkilendirilmiş sayfa, herkes giremez </p>

</div>
